* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    height: 250px;
    justify-content: space-between;
    background-color: #DAED7C;
    font-family: "Asap", sans-serif;
    z-index: 8;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 3%;

}

.logo img {
    width: 90px;
    height: auto;
}

.links {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.links a {
    text-decoration: none;
    padding: 5px 38px;
    font-size: 33px;
    font-weight: 470;
    color: #0D2916;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 8px 4px 0px rgba(0,0,0,1);
    background-color: #EAFB9A; 
}

.links a:active {
    transform: translateY(3px); 
    box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.6); 
}

.botao {
    display: flex;
    align-items: center;
    margin-right: 3%;
}

.botao a {
    text-decoration: none;
    padding: 3px 38px;
    font-size: 33px;
    font-weight: 470;
    color: #EFFF9C;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px 50px 50px 50px;
    box-shadow: 0px 8px 4px 0px rgba(0,0,0,1);
    background-color: #395545; 
}

.botao a:active {
    transform: translateY(3px); 
    box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.6);
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #DAED7C;
    font-family: "Rubik", sans-serif;
}

main .texto {
    color: #0D2916;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; 
    font-size: 350px;
    line-height: 75%;
    font-weight: 1000;
}

main .texto p {
    position: relative;
}

main .texto p:nth-child(1) { 
    z-index: 2; 
}

main .texto p:nth-child(2) { 
    z-index: 4;
}

main .texto p:nth-child(3) { 
    z-index: 2; 
}

main .linhas{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 3;
}

.linhas img {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}

main .limao {
    height: 140px;
    display: flex;
    position: absolute;
    z-index: 6;
    left: 55vh;
}

main .laranja {
    height: 180px;
    display: flex;
    position: absolute;
    left: 135vh;
    top: 51vh;
    z-index: 7;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #DAED7C;
}

footer img {
    display: flex;
    position: absolute;
    height: 60vh;
    z-index: 5;
    filter: drop-shadow(10px 0px 10px rgba(0, 0, 0, 0.5));
}